<div class="dialog-content">
  <h5 mat-dialog-title *ngIf="!data.uuid">Add Appointment</h5>
  <h5 mat-dialog-title *ngIf="data.uuid">Edit Appointment</h5>
  <div [formGroup]="appointmentForm">
    <div mat-dialog-content>
      <mat-form-field class="form-field">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Start Time</mat-label>
        <input matInput formControlName="startTime" type="time" />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>End Time</mat-label>
        <input matInput formControlName="endTime" type="time" />
      </mat-form-field>
      <div
        *ngIf="
          appointmentForm.errors && appointmentForm.errors['timeRangeInvalid']
        "
        class="error"
      >
        End time must be after start time.
      </div>
    </div>
    <div mat-dialog-actions align="end">
      <button type="submit" mat-flat-button (click)="onSaveClick()">
        <span *ngIf="data.uuid">Edit Appointment</span>
        <span *ngIf="!data.uuid">Add Appointment</span>
      </button>
      <button
        (click)="onDeleteClick()"
        *ngIf="data.uuid"
        style="margin-left: 10px"
        mat-stroked-button
      >
        Delete
      </button>
      <button
        style="margin-left: 10px"
        mat-stroked-button
        (click)="onNoClick()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
