:root {
  --header-height: 42px;
  --total-weeks: 6;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.cell-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  cursor: pointer;
}
.appointment {
  position: relative;
  z-index: 9;
  padding: 5px 10px;
  margin-top: 2px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lavender;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  cursor: pointer;

  span {
    text-align: left;
    line-height: 15px;
  }
}
.calendar-view-month {
  table-layout: fixed;
  margin-top: 1rem;
  thead {
    th {
      font-size: 22px;
      font-weight: 100;
      text-align: right;
      border-bottom: 1px solid #ddd;
    }
  }
  tbody {
    tr {
      td {
        &:first-child {
          border-left: 1px solid #ddd;
        }
        vertical-align: top;
        position: relative;
        border-right: 1px solid #ddd;
        height: 150px;
        border-bottom: 1px solid #ddd;
        padding: 3px 0;
        &.selected {
          background-color: #bbdefb;
        }

        &.today {
          background-color: #e3f2fd;
        }
        .date {
          text-align: right;
          font-size: 22px;
          font-weight: 100;
          padding: 5px 10px 0;
        }
      }
    }
  }
}
.calendar-view-week {
  margin-top: 1rem;
  thead {
    th {
      font-size: 22px;
      font-weight: 100;
      text-align: right;
      border-bottom: 1px solid #ddd;
    }
  }
  tbody {
    tr {
      td {
        position: relative;
        border-right: 1px solid #ddd;
        height: 50px;
        border-bottom: 1px solid #ddd;
        padding: 3px 0;
        width: calc(100% / 7);
        &.calendar-slot-cell {
          width: 1%;
          font-size: 12px;
          font-weight: 100;
          border-right: 1px solid #ddd;
          padding-right: 5px;
          vertical-align: top;
          span {
            position: relative;
            top: -12px;
            background: #fff;
            width: 100%;
            display: block;
          }
        }
      }
      &:last-child {
        td {
          border-bottom: none;
          border-right: none;
          &.calendar-slot-cell {
            border-right: none;
          }
          .cell-overlay {
            display: none;
          }
        }
      }
    }
  }
}
.calendar-view-day {
  margin-top: 1rem;
  tr {
    &:first-child {
      td {
        border-top: 1px solid #ddd;
      }
    }
    td {
      position: relative;
      border-bottom: 1px solid #ddd;
      height: 50px;
      padding: 3px 0;
      &.calendar-slot-cell {
        font-size: 12px;
        font-weight: 100;
        border-right: 1px solid #ddd;
        padding-right: 5px;
        vertical-align: top;
        span {
          position: relative;
          top: -12px;
          background: #fff;
          width: 100%;
          display: block;
        }
      }
    }
    &:last-child {
      td {
        border-bottom: none;
        &.calendar-slot-cell {
          border-right: none;
        }
        .cell-overlay {
          display: none;
        }
      }
    }
  }
}
.calendar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    padding: 10px 0;

    h2 {
      margin: 0;
    }

    .calendar-month {
      font-weight: bold;
      span {
        font-weight: 100;
      }
    }

    .calendar-controls {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.black-icon {
  color: black;
  svg {
    fill: black;
  }
}
